.navbar{
    display: flex;
    flex-direction: column;
    justify-content: start;
}
/* top bar stylings */
.navbar > .topbar{
    width: 100%;
    height: 5rem;
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-between;
} 
.navbar > .topbar > .left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.navbar > .topbar > .left > span{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-left: 4rem;
    border-right: 1px solid #ccc;
    padding-right: 2rem;
}
.navbar > .topbar > .left > p{
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}
.navbar > .topbar > .right{
    margin-right: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.navbar > .topbar > .right > ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.navbar > .topbar > .right > ul > li{
    list-style: none;
    color: #000;
    font-size: 18px;
    cursor: pointer;;
}
.navbar > .topbar > .right > .language{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-left:  1px solid #ccc;
    border-right:  1px solid #ccc;
    padding:  0 2rem;
    cursor: pointer;
}
.navbar > .topbar > .right > .account{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-size: large;
    cursor: pointer;
}
/* stylins of bottom bar */
.navbar > .bottombar{
    display: flex;
    justify-content: space-between;
    padding-left: 4rem;
    align-items: center;
    height: 7rem;
}
.navbar > .bottombar > .logo > img{
    width: 11rem;
    height: 5rem;
}
.navbar > .bottombar > ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.navbar > .bottombar > ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
} 
.navbar > .bottombar > ul > li{
    list-style: none;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    transition: all ease-in-out 0.5s;
    cursor: pointer;
}
.navbar > .bottombar > ul > li:hover{
    color: #7fad39;
}
.navbar > .bottombar > ul > .active{
    color: #7fad39;
}
.navbar > .bottombar > .icons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 6rem;
    gap: 1rem;
}
.navbar > .bottombar > .icons > .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.navbar > .bottombar > .icons > .icon > .heart{
    display: flex;
}
.navbar > .bottombar > .icons > .icon > .heart > fa-icon{
    font-size: x-large;
    cursor: pointer;
}
.navbar > .bottombar > .icons > .icon > .heart > p{
    background-color: #7fad39;
    padding: 5px;
    border-radius: 50%;
    color: #fff;
    width: 13px;
    height: 13px;
    text-align: center;
    font-size: small;
    margin-top: -15px;
    margin-left: -5px;
}
.navbar > .bottombar > .icons > .icon > .cart{
    display: flex;
}
.navbar > .bottombar > .icons > .icon > .cart > fa-icon{
    font-size: x-large;
    margin-top: 4px;
    cursor: pointer;
}
.navbar > .bottombar > .icons > .icon > .cart > p{
    background-color: #7fad39;
    padding: 5px;
    border-radius: 50%;
    color: #fff;
    width: 13px;
    height: 13px;
    text-align: center;
    font-size: small;
    margin-top: -10px;
    margin-left: -5px;
}
.navbar > .bottombar > .icons >span{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.navbar > .bottombar > .icons >span >small{
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    color: #777;
}
.navbar > .bottombar > .icons >span > p{
    font-weight: bold;
    font-size: large;
}